<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>🔍</string>
	<key>CFBundleIdentifier</key>
	<string>com.readmeansrun.lbactions.NewestFile</string>
	<key>CFBundleName</key>
	<string>Retrieve Newest File</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>LBArgument</key>
	<string>N/A</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>N/A</string>
		<key>LBAuthor</key>
		<string>David Miller</string>
		<key>LBEmail</key>
		<string>davidfmiller@me.com</string>
		<key>LBSummary</key>
		<string>Retrieve the newest file in your </string>
		<key>LBTwitter</key>
		<string>@eldaverino</string>
		<key>LBWebsiteURL</key>
		<string>https://readmeansrun.com</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBRequiredApplication</key>
	<string>com.apple.Terminal</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>path</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>newest-file.py</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NSHumanReadableCopyright</key>
	<string>©2017 READMEANSRUN</string>
</dict>
</plist>
