<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>💯</string>
	<key>alien</key>
	<string>👽</string>
	<key>apple</key>
	<string>🍎</string>
	<key>bag</key>
	<string>👜</string>
	<key>banana</key>
	<string>🍌</string>
	<key>battery</key>
	<string>🔋</string>
	<key>bear</key>
	<string>🐻</string>
	<key>beer</key>
	<string>🍺</string>
	<key>bbq</key>
	<string>🍖</string>
	<key>bell</key>
	<string>🔔</string>
	<key>bike</key>
	<string>🚲</string>
	<key>blind</key>
	<string>🙈</string>
	<key>boat</key>
	<string>⛵</string>
	<key>bolt</key>
	<string>⚡️</string>
	<key>bomb</key>
	<string>💣</string>
	<key>book</key>
	<string>📘</string>
	<key>boom</key>
	<string>💥</string>
	<key>boot</key>
	<string>👢</string>
	<key>bowling</key>
	<string>🎳</string>
	<key>bug</key>
	<string>🐛</string>
	<key>burger</key>
	<string>🍔</string>
	<key>bus</key>
	<string>🚌</string>
	<key>button</key>
	<string>🖲</string>
	<key>bzzz</key>
	<string>🐝</string>
	<key>cake</key>
	<string>🍰</string>
	<key>calendar</key>
	<string>📅</string>
	<key>camel</key>
	<string>🐪</string>
	<key>camera</key>
	<string>📷</string>
	<key>canada</key>
	<string>🇨🇦</string>
	<key>candy</key>
	<string>🍬</string>
	<key>car</key>
	<string>🚗</string>
	<key>cat</key>
	<string>🐱</string>
	<key>chat</key>
	<string>💬</string>
	<key>check</key>
	<string>✅</string>
	<key>cheese</key>
	<string>🧀</string>
	<key>cherry</key>
	<string>🍒</string>
	<key>chicken</key>
	<string>🐔</string>
	<key>clap</key>
	<string>👏</string>
	<key>clock</key>
	<string>🕰</string>
	<key>cloud</key>
	<string>☁️</string>
	<key>coffee</key>
	<string>☕️</string>
	<key>computer</key>
	<string>💻</string>
	<key>cookie</key>
	<string>🍪</string>
	<key>cool</key>
	<string>😎</string>
	<key>couple</key>
	<string>👫</string>
	<key>cow</key>
	<string>🐮</string>
	<key>crown</key>
	<string>👑</string>
	<key>dark</key>
	<string>🌚</string>
	<key>dream</key>
	<string>💭</string>
	<key>dart</key>
	<string>🎯</string>
	<key>deaf</key>
	<string>🙉</string>
	<key>dick</key>
	<string>🍆</string>
	<key>dog</key>
	<string>🐶</string>
	<key>donut</key>
	<string>🍩</string>
	<key>dress</key>
	<string>👗</string>
	<key>drop</key>
	<string>💧</string>
	<key>egg</key>
	<string>🍳</string>
	<key>elephant</key>
	<string>🐘</string>
	<key>eyes</key>
	<string>👀</string>
	<key>facetime</key>
	<string>👨🏻⏱</string>
	<key>false</key>
	<string>https://video.twimg.com/ext_tw_video/1116843589781168129/pu/pl/mepfvAQNomD6h2t9.m3u8?tag=8&amp;descending=true</string>
	<key>fax</key>
	<string>📠</string>
	<key>fire</key>
	<string>🔥</string>
	<key>fish</key>
	<string>🐟</string>
	<key>fist</key>
	<string>👊</string>
	<key>flex</key>
	<string>💪</string>
	<key>flower</key>
	<string>🌻</string>
	<key>frog</key>
	<string>🐸</string>
	<key>ghost</key>
	<string>👻</string>
	<key>gift</key>
	<string>🎁</string>
	<key>globe</key>
	<string>🌏</string>
	<key>golf</key>
	<string>⛳️</string>
	<key>grandma</key>
	<string>👵🏻</string>
	<key>grandpa</key>
	<string>👴🏻</string>
	<key>grr</key>
	<string>😡</string>
	<key>icecream</key>
	<string>🍦</string>
	<key>gun</key>
	<string>🔫</string>
	<key>hammer</key>
	<string>🔨</string>
	<key>heart</key>
	<string>❤️</string>
	<key>hockey</key>
	<string>🏒</string>
	<key>hole</key>
	<string>🕳</string>
	<key>home</key>
	<string>🏡</string>
	<key>horns</key>
	<string>🤘</string>
	<key>horse</key>
	<string>🐴</string>
	<key>key</key>
	<string>🔑</string>
	<key>knife</key>
	<string>🔪</string>
	<key>lame</key>
	<string>👎</string>
	<key>lemon</key>
	<string>🍋</string>
	<key>lime</key>
	<string>🍈</string>
	<key>link</key>
	<string>🔗</string>
	<key>lion</key>
	<string>🦁</string>
	<key>lipstick</key>
	<string>💄</string>
	<key>lock</key>
	<string>🔒</string>
	<key>lol</key>
	<string>🙊</string>
	<key>love</key>
	<string>💗</string>
	<key>mail</key>
	<string>✉️</string>
	<key>magic</key>
	<string>✨</string>
	<key>map</key>
	<string>📍</string>
	<key>man</key>
	<string>👨🏻</string>
	<key>memo</key>
	<string>📝</string>
	<key>mintz</key>
	<string>🔏</string>
	<key>monkey</key>
	<string>🐵</string>
	<key>moon</key>
	<string>🌙</string>
	<key>movie</key>
	<string>🎥</string>
	<key>mouse</key>
	<string>🐭</string>
	<key>music</key>
	<string>🎵</string>
	<key>needle</key>
	<string>💉</string>
	<key>nails</key>
	<string>💅🏻</string>
	<key>nerd</key>
	<string>🤓</string>
	<key>nut</key>
	<string>🌰</string>
	<key>no</key>
	<string>🚫</string>
	<key>ok</key>
	<string>👌</string>
	<key>package</key>
	<string>📦</string>
	<key>panda</key>
	<string>🐼</string>
	<key>pants</key>
	<string>👖</string>
	<key>party</key>
	<string>🎉🎊</string>
	<key>pasta</key>
	<string>🍝</string>
	<key>peach</key>
	<string>🍑</string>
	<key>pen</key>
	<string>🖊</string>
	<key>pencil</key>
	<string>✏️</string>
	<key>pig</key>
	<string>🐷</string>
	<key>phone</key>
	<string>📞</string>
	<key>pizza</key>
	<string>🍕</string>
	<key>pill</key>
	<string>💊</string>
	<key>plane</key>
	<string>✈️</string>
	<key>poo</key>
	<string>💩</string>
	<key>pin</key>
	<string>📌</string>
	<key>pray</key>
	<string>🙏</string>
	<key>princess</key>
	<string>👸🏻</string>
	<key>psychic</key>
	<string>🔮</string>
	<key>race</key>
	<string>🏁</string>
	<key>rain</key>
	<string>🌧</string>
	<key>rainbow</key>
	<string>🌈</string>
	<key>run</key>
	<string>🏃🏻</string>
	<key>scissors</key>
	<string>✂️</string>
	<key>shoe</key>
	<string>👞</string>
	<key>snake</key>
	<string>🐍</string>
	<key>skull</key>
	<string>☠️</string>
	<key>snow</key>
	<string>❄️</string>
	<key>soccer</key>
	<string>⚽️</string>
	<key>star</key>
	<string>⭐️</string>
	<key>sun</key>
	<string>☀️</string>
	<key>sushi</key>
	<string>🍣</string>
	<key>swim</key>
	<string>🏊</string>
	<key>tennis</key>
	<string>🎾</string>
	<key>timer</key>
	<string>⏳</string>
	<key>thx</key>
	<string>👍</string>
	<key>ticket</key>
	<string>🎟</string>
	<key>tongue</key>
	<string>👅</string>
	<key>train</key>
	<string>🚂</string>
	<key>tree</key>
	<string>🌲</string>
	<key>trophy</key>
	<string>🏆</string>
	<key>truck</key>
	<string>🚚</string>
	<key>tv</key>
	<string>📺</string>
	<key>uk</key>
	<string>🇬🇧</string>
	<key>unicorn</key>
	<string>🦄</string>
	<key>usa</key>
	<string>🇺🇸</string>
	<key>van</key>
	<string>🚐</string>
	<key>wave</key>
	<string>👋</string>
	<key>wind</key>
	<string>💨</string>
	<key>wine</key>
	<string>🍷</string>
	<key>wow</key>
	<string>😳</string>
	<key>woman</key>
	<string>👩🏼</string>
	<key>x</key>
	<string>❌</string>
	<key>zoom</key>
	<string>🔍</string>
	<key>$</key>
	<string>💰</string>
	<key>angel</key>
	<string>😇</string>
	<key>zzz</key>
	<string>😴</string>
	<key>:)</key>
	<string>😊</string>
	<key>;)</key>
	<string>😉</string>
	<key>:P</key>
	<string>😝</string>
	<key>:D</key>
	<string>😃</string>
	<key>barf</key>
	<string>😪</string>
	<key>devil</key>
	<string>😈</string>
	<key>eww</key>
	<string>😪</string>
	<key>eyeroll</key>
	<string>🙄</string>
	<key>kiss</key>
	<string>😘</string>
	<key>mute</key>
	<string>😶</string>
	<key>hmm</key>
	<string>🤔</string>
	<key>phew</key>
	<string>😌</string>
	<key>sure</key>
	<string>🙄</string>
	<key>:|</key>
	<string>😐</string>
	<key>yum</key>
	<string>😋</string>
	<key>:(</key>
	<string>😔</string>
	<key>crush</key>
	<string>😍</string>
	<key>shh</key>
	<string>🤐</string>
	<key>:&apos;(</key>
	<string>😭</string>
	<key>shrug</key>
	<string>¯\_(ツ)_/¯</string>
	<key>!</key>
	<string>⚠️</string>
	<key>?!</key>
	<string>‽</string>
	<key>!?</key>
	<string>‽</string>
	<key>reg</key>
	<string>®</string>
	<key>dagger</key>
	<string>†</string>
	<key>euro</key>
	<string>€</string>
	<key>yen</key>
	<string>¥</string>
	<key>cent</key>
	<string>¢</string>
	<key>tm</key>
	<string>™</string>
	<key>copy</key>
	<string>©</string>
	<key>cmd</key>
	<string>⌘</string>
	<key>alt</key>
	<string>⌥</string>
	<key>esc</key>
	<string>⎋</string>
	<key>return</key>
	<string>⏎</string>
	<key>shift</key>
	<string>⇧</string>
	<key>degree</key>
	<string>º</string>
	<key>empty</key>
	<string>∅</string>
	<key>infinity</key>
	<string>∞</string>
	<key>*</key>
	<string>×</string>
	<key>+-</key>
	<string>±</string>
	<key>delete</key>
	<string>⌫</string>
	<key>enter</key>
	<string>↵</string>
	<key>1/2</key>
	<string>½</string>
	<key>appl</key>
	<string></string>
	<key>-&gt;</key>
	<string>→</string>
	<key>down</key>
	<string>↓</string>
	<key>--</key>
	<string>—</string>
	<key>up</key>
	<string>↑</string>
	<key>!=</key>
	<string>≠</string>
	<key>tab</key>
	<string>⇥</string>
	<key>&lt;-</key>
	<string>←</string>
	<key>...</key>
	<string>…</string>
	<key>$1</key>
	<string>https://www.youtube.com/watch?v=bjB3vk0Vk3w</string>
	<key>&lt;=</key>
	<string>≤</string>
	<key>&gt;=</key>
	<string>≥</string>
	<key>divide</key>
	<string>÷</string>
	<key>tenth</key>
	<string>⅒</string>
	<key>cubed</key>
	<string>³</string>
	<key>squared</key>
	<string>²</string>
	<key>&apos;</key>
	<string>’</string>
	<key>&quot;&quot;</key>
	<string>“”</string>
	<key>?</key>
	<string>❓</string>
	<key>america</key>
	<string>https://www.youtube.com/watch?v=FUqDHW0jmkw</string>
	<key>ain&apos;t nobody</key>
	<string>https://www.youtube.com/watch?v=waEC-8GFTP4#t=0m28s</string>
	<key>chewbacca</key>
	<string>https://www.youtube.com/watch?v=xwdba9C2G14</string>
	<key>blogger</key>
	<string>http://southparkstudios.mtvnimages.com/images/shows/south-park/clip-thumbnails/season-10/1008/south-park-s10e08c05-the-slaughter-16x9.jpg</string>
	<key>fuck you</key>
	<string>https://www.youtube.com/watch?v=hTOKJTRHMdw</string>
	<key>entertained</key>
	<string>https://www.youtube.com/watch?v=FsqJFIJ5lLs</string>
	<key>knowwhatimsaying</key>
	<string>https://www.youtube.com/watch?v=FoWnIhDuW4g</string>
	<key>comeback</key>
	<string>https://www.youtube.com/watch?v=vimZj8HW0Kg#t=0m09s</string>
	<key>4d3d3d3</key>
	<string>https://www.youtube.com/watch?v=XWX4GUYGQXQ</string>
	<key>do it live</key>
	<string>https://www.youtube.com/watch?v=O_HyZ5aW76c</string>
	<key>full retard</key>
	<string>https://www.youtube.com/watch?v=X6WHBO_Qc-Q</string>
	<key>gay</key>
	<string>https://www.youtube.com/watch?v=eAEiI_x71Ko</string>
	<key>guards</key>
	<string>https://www.youtube.com/watch?v=No3xu-NU_xA</string>
	<key>haters</key>
	<string>http://hyperallergic.com/wp-content/uploads/2015/01/jamel-musson-chappelles-show.jpg</string>
	<key>idontcare</key>
	<string>https://www.youtube.com/watch?v=1NNx26bkI9I</string>
	<key>took our jobs</key>
	<string>https://www.youtube.com/watch?v=toL1tXrLA1c</string>
	<key>ilikemoney</key>
	<string>https://www.youtube.com/watch?v=sZHCVyllnck</string>
	<key>listen to your heart</key>
	<string>https://www.youtube.com/watch?v=yCC_b5WHLX0</string>
	<key>mindblown</key>
	<string>http://mashable.com/wp-content/uploads/2013/08/mind-blown.gif</string>
	<key>miracle</key>
	<string>https://www.youtube.com/watch?v=_-agl0pOQfs</string>
	<key>over</key>
	<string>https://www.youtube.com/watch?v=YlGqN3AKOsA</string>
	<key>inurbase</key>
	<string>http://images.figure.fm/cgm/images/post/20110325/25508/208892/large/17aa488bb68c82c24026e9e728282cc2.jpg</string>
	<key>pussy</key>
	<string>https://www.youtube.com/watch?v=TxXwXD27los</string>
	<key>payme</key>
	<string>https://c2.staticflickr.com/6/5266/5696508703_c320530066_o.jpg</string>
	<key>practice</key>
	<string>https://www.youtube.com/watch?v=eGDBR2L5kzI#t=0m52s</string>
	<key>schwifty</key>
	<string>https://www.youtube.com/watch?v=I1188GO4p1E</string>
	<key>gtfo</key>
	<string>https://www.youtube.com/watch?v=IqP76XWHQI0</string>
	<key>doit</key>
	<string>https://www.youtube.com/watch?v=ZXsQAXx_ao0</string>
	<key>surprise motherfucker</key>
	<string>https://www.youtube.com/watch?v=_bSEfx6D8mA</string>
	<key>sucks</key>
	<string>https://www.youtube.com/watch?v=VYrFnW8jpWA</string>
	<key>buttinthegym</key>
	<string>https://www.youtube.com/watch?v=uoLHxkKtJZw</string>
	<key>worstday</key>
	<string>https://www.youtube.com/watch?v=-81WdyD-8Ro</string>
	<key>wtf</key>
	<string>https://www.youtube.com/watch?v=-yGVY-xVaSQ</string>
</dict>
</plist>
