<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.apple.Finder</string>
	<key>CFBundleIdentifier</key>
	<string>com.readmeansrun.lbactions.revealInNewFinderWindow</string>
	<key>CFBundleName</key>
	<string>Reveal in New Finder Window</string>
	<key>CFBundleVersion</key>
	<string>0.1.1</string>
	<key>LBArgument</key>
	<string>Path</string>
	<key>LBAssociatedApplication</key>
	<string>com.apple.Finder</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>Path</string>
		<key>LBAuthor</key>
		<string>David Miller</string>
		<key>LBEmail</key>
		<string>davidfmiller@me.com</string>
		<key>LBSummary</key>
		<string>Creates a new Finder window at the selected path</string>
		<key>LBTwitter</key>
		<string>eldaverino</string>
		<key>LBWebsiteURL</key>
		<string>http://readmeansrun.com</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.apple.Finder</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>path</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>string</string>
			<key>LBScriptName</key>
			<string>default.applescript</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.*</string>
	<key>NSHumanReadableCopyright</key>
	<string>(c) 2016 READMEANSRUN</string>
</dict>
</plist>
