<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>URL.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.readmeansrun.lbactions.base64Encode</string>
	<key>CFBundleName</key>
	<string>Make Data URI</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>David Miller</string>
		<key>LBEmail</key>
		<string>davidfmiller@me.com</string>
		<key>LBTwitter</key>
		<string>@eldaverino</string>
		<key>LBWebsiteURL</key>
		<string>http://davidfmiller.github.io/lbactions/</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>path</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>string</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.swift</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10</string>
	<key>NSHumanReadableCopyright</key>
	<string>(c) 2016 READMEANSRUN</string>
</dict>
</plist>
